img{
    width: 100%;
    height: auto;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;

    background-color: aquamarine;
    margin: 10px;
    padding: 10px;


}
.inicio{
    text-align: center;
    font-size: 30px;
    background-color: rgb(172, 33, 33);
    width: 100%;
}
.box{
    width: 100%;
    padding: 20px;
@media screen and (min-width:500px) {
    .um{
        width: 50%;
    }
    .dois{
        width: 50%;
    }
    .b4{
        width: 50%;
    }
    .b5{
        width: 50%;
    }
    .b8{
        width: 50%;
    }
    .b9{
        width: 50%;
    }
}
